html,
body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  height: 4rem;
  background-color: #afcbff;
}
.footer {
  height: 4rem;
  background-color: #0e1c36;
}

.container {
  flex-grow: 1;
  background-color: #f9fbf2;
}
.bayan {
  max-width: 50rem;
  margin: 1.5rem auto;
  padding: 0 1rem;
  background-color: #d7f9ff;
}

.bayan-item {
  position: relative;
  margin-bottom: 1rem;
}

.bayan-item__input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.bayan-item__trigger {
  display: block;
  padding: 1.5rem;
  border: 1px solid black;
}

.bayan-item__content {
  padding: 20px;
  border: 1px solid black;
  border-top: 0;
  display: none;
}

.bayan-item__input:checked ~ .bayan-item__trigger {
  background-color: #afcbff;
}
.bayan-item__input:checked ~ .bayan-item__content {
  display: block;
  background-color: #ffffff;
}
