html,
body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header {
  height: 4rem;
  background-color: #0F7173;
}
.header-title {
  font-weight:700;
  color: #0e1c36;
}
.footer {
  height: 4rem;
  background-color: #272932;
}
.container {
  flex-grow: 1;
  background-color: #E7ECEF;
}
.bayan__wrapper {
  max-width: 50rem;
  margin: 1.5rem auto;
  padding: 0 1rem;
  background-color: #E7ECEF;
}

.bayan {
  display: block;
}

.bayan input {
  display: none;
}

.bayan__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing:0.2rem;
  background-color: #E7ECEF;
  border: none;
  color: #0e1c36;
  padding: 1rem;
  border-bottom: 0.0625rem solid #9f9f9f;
}
.bayan__header:hover {
  background-color: #0F7173;
  color: #0e1c36;
  cursor: pointer;
}
.bayan input:checked ~ .bayan__header {
  background: #F05D5E;
  color: white;
}
.bayan input:checked ~ .bayan__header:hover {
  background-color: #F05D5E;
  color: white;
}
.icon {
  width: 1rem;
  height: 1rem;
  opacity: 0.7;
}
.bayan__icon-plus {
  display: block;
}
.bayan__icon-close {
  display: none;
}

.bayan__content {
  border: none;
  display: none;
  padding: 1rem;
  cursor: pointer;
}
.bayan__content-wrapper {
 display: flex;
 justify-content: center;

}
.bayan__content-img {
  max-width: 50%;
  max-height: 50%;
}

.bayan input:hover ~ .bayan__header .bayan__icon-plus {
  display: none;
}
.bayan input:hover ~ .bayan__header .bayan__icon-close {
    display: block;
    animation: fade_in 0.5s;
}

.bayan input:hover ~ .bayan__content {
  display: block;
  animation: fade_in 0.5s;
}
.bayan input:checked ~ .bayan__content {
  display: block;
  animation: fade_in 0.5s;
}

@media (min-width: 820px) {
  .bayan-item__input:checked ~ .bayan-item__content {
    height: 100%;
    background-color: #ffffff;
  }
  .bayan-item__input:hover ~ .bayan-item__content {
    height: 100%;
    background-color: #ffffff;
  }
}

@keyframes fade_in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
